.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}

.container form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container form > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

textarea {
  height: 5rem;
}

input,
select,
textarea {
  resize: none;
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 0.5rem;
}

input:focus,
select:focus,
textarea:focus {
  border: 2px solid #0033ff;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c1c1c1;
}

::-webkit-scrollbar-track {
  background: transparent;
}
