@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-header {
  background-image: linear-gradient(#00000080, #0000001a), url('imgs/machu-picchu-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 40rem;
}

.header-top {
  display: flex;
  justify-content: center;
  background-color: #184494;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.links {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  font-size: small;
}

.links a {
  color: #fff;
}

.header-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  height: 60%;
  text-transform: uppercase;
}

.header-main h1 {
  font-size: 5rem;
  font-weight: bold;
}

.main-content {
  margin-block: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.article-content {
  display: flex;
  gap: 2rem;
  justify-content: center;
  padding-bottom: 2rem;
}

.profile {
  max-width: 10rem;
  color: #666666;
}

.profile p {
  padding-top: .5rem;
}

.profile span {
  font-weight: 500;
  color: #555555;
}

.profile img {
  height: 10rem;
  width: 10rem;
  border-radius: 10%;
  border: 1px solid black;
}

.article {
  display: flex;
  width: 55%;
}

.options {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.options button {
  width: 6.3rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 1px solid #c7c7c7;
  text-transform: uppercase;
  cursor: pointer;
}

.options button:hover {
  border: 1px solid #313131;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.options button img {
  height: 1.5rem;
}

.informations {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info-content a {
  color: #006dff;
  text-decoration: underline;
}

.info-content h2 {
  text-align: start;
}

.info-content img {
  border-radius: 0.5rem;
}

.info-content ul {
  color: #006dff;
  list-style: disc;
  padding: 1rem 4rem;
}

.info-content ul li span {
  color: #000000;
}

.info-content ul li {
  list-style: disc;
  padding: 1rem;
}

.info-content table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #f2f2f2;
}

.info-content th {
  background-color: #183c64;
  color: white;
  padding: 10px;
}

.info-content td {
  padding: 10px;
  text-align: center;
}

.info-content tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.info-content tbody tr:nth-child(even) {
  background-color: white;
}

.info-content .card {
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: 2px dashed #d6f1c5;
  background-color: #d6f1c57d;
}

.footer {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #184494;
}

.footer .footer-rights {
  border-top: 2px solid #2D549F;
  margin-top: .5rem;
  padding-block: .5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
  gap: 3rem;
}

.footer .footer-explanation {
  max-width: 30rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.footer .footer-buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-block: 1rem;
}

.footer .footer-buttons a {
  color: #fff;
  text-transform: uppercase;
}

.social-btn {
  border: none;
  padding: 1rem;
  border-radius: 50%;
  background-color: #2D549F;
  cursor: pointer;
}

.social-btn img {
  width: 1.5rem;
}