* {
  padding: 0;
  margin: 0;
}

.curriculum {
  display: flex;
}

.main-content {
  flex-grow: 1; /* serve para fazer o component completar o resto do espaço disponivel no component pai */
}

.sidebar {
  width: 20rem;
  color: #fff;
  background-color: #2228bd;
  padding-block: 1rem;
}

.sidebar img {
  width: 15rem;
  height: 15rem;
}

.flex-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.content {
  padding: 0.5rem;
}

.title {
  background-color: rgba(0, 0, 0, 0.164);
  padding: 0.5rem;
  font-weight: bold;
  font-size: large;
}
